@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import "tailwindcss";
@theme {
    /* colours */
    --color-transparent: rgba(0, 0, 0, 0);
    --color-white: rgba(255, 255, 255, 1);
    --color-black: rgba(10, 10, 10, 1);
    --color-base: rgba(248, 223, 219, 1);
    --color-primary: rgba(252, 34, 28, 1)
}

html, body, * {
    scroll-behavior: smooth;
}

body {
    background-color: var(--color-base);
    color: var(--color-primary);
    font-family: "Young Serif",system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-optical-sizing: auto;
    -webkit-font-smoothing: antialiased;
    font-size: 1rem;
    font-weight: 400;
    padding: 0;
    margin: 0;
    padding-bottom: env(safe-area-inset-bottom);
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

[x-cloak] {
    display: none !important; 
}

img {
    display: block;
}

button {
    cursor: pointer;
}

/* forms */
input, textarea, select {
    outline: none!important;
}

/* tablet */
@media (min-width: 768px) {
}

/* desktop */
@media (min-width: 1024px) {
}