@import "https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.css";
@import "tailwindcss";

@font-face {
    font-family: "Overused Grotesk Book";
    src: url('/src/assets/fonts/overused_grotesk/OverusedGrotesk-Book.woff2') format('woff2'),
         url('/src/assets/fonts/overused_grotesk/OverusedGrotesk-Book.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Overused Grotesk Black";
    src: url('/src/assets/fonts/overused_grotesk/OverusedGrotesk-Black.woff2') format('woff2'),
         url('/src/assets/fonts/overused_grotesk/OverusedGrotesk-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@theme {
    /* colours */
    --color-transparent: rgba(0, 0, 0, 0);
    --color-white: rgba(255, 255, 255, 1);
    --color-black: rgba(10, 10, 10, 1);
    --color-base: rgba(249, 248, 244, 1);
    --color-primary: rgba(31, 31, 31, 1);
    --color-pink: rgba(255, 193, 235, 1);
    --color-blue: rgba(193, 242, 255, 1);

    /* fonts */
    --font-body: "Overused Grotesk Book";
    --font-black: "Overused Grotesk Black";
}

html, body, * {
    scroll-behavior: smooth;
    scroll-padding-top: 50px;
}

body {
    background-color: var(--color-base);
    color: var(--color-primary);
    font-family: var(--font-body), "Archivo Black", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-optical-sizing: auto;
    -webkit-font-smoothing: antialiased;
    font-size: 1rem;
    font-weight: 400;
    padding: 0;
    margin: 0;
    padding-bottom: env(safe-area-inset-bottom);
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar,
html::-webkit-scrollbar,
*::-webkit-scrollbar {
    display: none;
}

[x-cloak] {
    display: none !important; 
}

img {
    display: block;
}

.animate-spin {
    animation-duration: 20s;
}

/* forms */
input, textarea, select {
    outline: none!important;
}

/* tablet */
@media (min-width: 768px) {
}

/* desktop */
@media (min-width: 1024px) {
    
    html, body, * {
        cursor: none;
    }
}